name: PlatformIO CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: firmware
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Setup C++ environment
        uses: aminya/setup-cpp@v1
        with:
          compiler: 'gcc'

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install PlatformIO
        run: pip install --upgrade platformio

      - name: Run native tests
        run: pio test -e native

      - name: Build aura_mon
        run: pio run -e aura_mon

